@import "tailwindcss";
@plugin "./hero.ts";
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
  --color-background: #ffffff;
  --color-primary: #648376;
  --color-foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}


@layer components {
  .blog-content h1 {
    @apply text-2xl font-bold my-4 leading-tight;
  }

  .blog-content h2 {
    @apply text-xl font-bold my-4 leading-snug;
  }

  .blog-content h3 {
    @apply text-lg font-bold my-3 leading-snug;
  }

  .blog-content p {
    @apply my-4 leading-7;
  }

  .blog-content strong {
    @apply font-semibold;
  }

  .blog-content em {
    @apply italic;
  }

  .blog-content u {
    @apply underline;
  }

  .blog-content a {
    @apply text-blue-600 no-underline;
  }

  .blog-content a:hover {
    @apply underline;
  }

  .blog-content ul {
    @apply list-disc pl-6 my-4;
  }

  .blog-content ol {
    @apply list-decimal pl-6 my-4;
  }

  .blog-content li {
    @apply my-2;
  }

  .blog-content blockquote {
    @apply border-l-4 border-blue-600 pl-4 my-4 italic text-gray-600;
  }

  .blog-content code {
    @apply bg-gray-100 px-1 rounded font-mono text-sm;
  }

  .blog-content pre {
    @apply bg-gray-100 p-4 rounded overflow-x-auto my-4;
  }
}